################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Common/bin/Debug/netcoreapp2.1
/Common/obj/Debug/netcoreapp2.1
/Common/obj
/.vs
